<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Editing Pin</h2>
  </div>
  <div class="panel-body">
  <%= render 'form' %>
  </div>
  <div class="panel-footer">
    <%= link_to raw('<span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>Back'), @pin %> |
    <%= link_to raw('<span class="glyphicon glyphicon-th" aria-hidden="true"></span>Show all'), pins_path %>
  </div>
</div>
