<div class="jumbotron">
  <h1>About Me</h1>
  <p>We are working on our One Month Rails Pinteresting app</p>
</div>

<div class="jumbotron">
  <p>My name is Lyman Wong and I'm reinventing myself from an awesome customer support and community manager to a kick-ass web developer.  This ia a project from One Month Rails.</p>
  <div class="circular"></div>
</div>
